/*Imported fonts*/
@font-face {
    font-family: Azeret;
    src: url(fonts/AzeretMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: Marker;
    src: url(fonts/PermanentMarker-Regular.ttf);
}

body {
    margin: 0;
    background-color: black;
}

.burger-menu {
    /*font-size: 70px;*/
    float: left;
    margin: auto;
    padding: 15px;
    margin: auto;
}

.burger-menu:hover {
    cursor: pointer;
}

.text {
    /*float: right;*/
    text-align: center;
}

.outer-container {
    width: 300px;
    height: 150px;
    background-color: #AB7342;
    margin: auto;
    cursor: pointer;

    transition: transform .5s; /* Animation */
}

.outer-container:hover {
    transform: scale(1.1);
}


.inner-container {
    width: 250px;
    height: 30px;
    margin: auto;
    background-color: antiquewhite;
    font-family: Marker;
    font-size: larger;
    text-align: center;
}

.grid-container {
    margin: auto;
    display: grid;
    padding: 20px;
    grid-row-gap: 50px;
    grid-column-gap: 20px;
    grid-template-columns: auto auto;
    height: 500px;
    width: 800px;
}

.grid-item {
    padding: 20px;
    text-align: center;
}

.safe-circle {
    padding: 50px;
    /*
    height: device-width;
    */
    width: 1100px;
    border-radius: 50%;
    background-color: whitesmoke;
    margin: auto;
    margin-top: 20px;
}

.container-handle {
    height: 40px;
    width: 125px;
    background-color: #211003;
    margin: auto;
    margin-top: 60px;
}

.container-tiny {
    height: 20px;
    width: 62px;
    margin: auto;
    background-color: #3b220c;
}