body {
    margin: 0;
    background-color: black;
    background-image: url('../img/safe.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 70% 100%;
    background-position: center;
}

h1{
    color: blue;
}

div#header
{
    display:inline-block;
    width:auto;
    height:20px;
    padding:5px 20px 5px 10px;
    background:none #3476A9;
    position:relative;
    overflow:visible;
}
div#header:after
{
    content:'';
    display:block;
    width:20px;
    height:30px;
    position:absolute;
    top:0;
    right:-5px;
    background:none #3476A9;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1f2124;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: gold;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*Imported fonts*/
@font-face {
    font-family: 'Azeret';
    src: url(../fonts/AzeretMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Marker';
    src: url(../fonts/PermanentMarker-Regular.ttf);
}



.navbar {
    color: gold;
    font-size: 60px;
    /*
    font-family: Azeret;
    */
    background-color: #1f2124;
    top: 0;
    width: 100%;
}

.burger-menu {
    /*font-size: 70px;*/
    float: left;
    margin: auto;
    padding: 15px;
}

.burger-menu:hover {
    cursor: pointer;
}

.text {
    /*float: right;*/
    text-align: center;
}